doctype html
html
	head
		title=titulo
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1= titulo
		p.parrafo_sys It's Work !
		a(href="/users"): img(src="/img/Fl256.png" title="imagen 0001")
		#bloque_sys.the_blocks
			p.changeds
			| Primera linea
			| Segunda linea
			| Tercera linea
			| Cuarta linea
			| Quinta linea
			| Sexta linea<br/>
			| Septima linea<br/>
			| Octava linea<br/>
			| Novena linea<br/>
			| Decima linea